#Folders
static/
fonts/


#files
*.jpg
*.jpeg
*.png
*.gif

bootstrap.min.js
bootstrap-4-navbar.js
disqus.js
jquery.cookie.js
tether.min.js

bootstrap.min.css
bootstrap-4-navbar.css
bootstrap-social.css

DoNotTrack.html






